{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content grid-wrapper" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <div class="{{post_class}} grid-item">
        <div class="grid-item-height"></div>
        <div class="grid-item-content">{{content}}</div>
    </div>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>