// Styles for chrishoniball.com

@import '../packages/bourbon/bourbon/bourbon'

// variables

$sans-serif: 'museo-sans'
$serif: 'chaparral-pro'

$color-one: #249BFF // light blue
$color-two: #1F47E8 // dark blue
$color-three: #E8670C // orange
$color-four: #FFFAC7 // tan/yellow
$color-five: #FFC40D // yellow
$color-six: #3D392C // dark brown

$text-color: #3a4145

// mixins

@mixin header-underline()
	display: inline-block
	border-bottom: 8px solid $color-five

// breakpoints

// These line up with twitter bootstrap breakpoints to provide consistency when used with
// their grid system
@mixin breakpoint($point)
	// 768 and down
	@if $point == xs
		@media only screen and (max-width: 767px)
			@content
	// 768px and up
	@if $point == sm
		@media only screen and (min-width: 768px)
			@content
	// 992px and up
	@if $point == md
		@media only screen and (min-width: 992px)
			@content
	// 1200px and up
	@if $point == lg
		@media only screen and (min-width: 1200px)
			@content

// base styles

.cf:before
.cf:after
	content: " " /* 1 */
	display: table /* 2 */

.cf:after
	clear: both

/* apply a natural box layout model to all elements */
*, *:before, *:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

html
	font-size: 10px

body
	font-family: $serif
	font-size: 2rem

h1, h2, h3, h4, h5, h6
	font-family: $sans-serif
	font-weight: 900
	a
		color: $text-color

h1
	font-size: 1.2rem

h2

h3

h4

h5

h6

a
	text-decoration: none
	color: $color-one
	&:hover, &:active, &:focus
		color: $color-one
		text-decoration: underline

code
	color: $color-two
	font-size: 1.5rem
	word-break: normal

pre
	overflow-horizontal: scroll
	word-wrap: normal
	word-break: normal
	code
		font-size: 1.5rem
		line-height: 1.1
		white-space: nowrap

pre[class*="language-"]
	padding: .5em
	padding-left: 1em
	margin: 1.6em 0


// index page styles

// header styles

.site-header
	padding: 10px 20px
	background: $color-five
	color: $color-six
	margin-bottom: 40px
	@include breakpoint(sm)
		padding: 30px 60px

.site-header
	display: table
	width: 100%

.site-header-content
	display: table-cell
	text-align: center

.site-header-left


.blog-title
	padding: 15px 20px
	border: 8px solid $color-six
	font-size: 3.4rem
	display: inline-block
	letter-spacing: 0
	@include transition(all .3s)
	a
		color: $color-six
	&:hover
		border: 8px solid $color-one
		a
			text-decoration: none
			color: $color-one

.blog-description
	display: inline-block
	font-family: $sans-serif
	vertical-align: super
	width: 280px
	text-align: center

.site-header-nav
	font-family: $sans-serif
	font-weight: 900
	font-size: 1.6rem
	padding-left: 0
	width: 310px
	display: block
	margin: 0 auto
	li
		float: left
		list-style: none
		margin-right: 20px
		text-transform: uppercase
		&:last-of-type
			margin-right: 0
	a
		color: $color-six
		&:hover
			color: $color-one
			text-decoration: none
	@include breakpoint(md)
		margin-top: 35px
		float: right
		width: auto

// footer
.site-footer
	background: $color-six
	color: white
	a
		color: $color-one
		text-decoration: none

// social buttons

$facebook: #3b5998
$pinterest: #cb2027
$google-plus: #dd4b39
$linkedin: #007bb6
$twitter: #00aced

.social-button
	padding: 6px 14px
	border: 0
	color: white
	&:hover, &:focus, &:active
		color: white
		text-decoration: none
		cursor: pointer
	.fa-spinner
		margin-left: 10px

@mixin social-button-color($color)
	background-color: $color
	@include transition(all .3s)
	&:hover, &:focus
		background-color: darken($color, 8%)
	&:active
		background-color: darken($color, 15%)

.social-facebook
	@include social-button-color($facebook)

.social-pinterest
	@include social-button-color($pinterest)

.social-google-plus
	@include social-button-color($google-plus)

.social-linkedin
	@include social-button-color($linkedin)

.social-twitter
	@include social-button-color($twitter)

.button-list
	list-style: none
	margin-bottom: 30px
	padding-left: 0
	li
		display: inline-block
		margin-right: 10px

.social-count
	margin-left: 10px

.social-button
	display: inline-block
	float: left
	margin-left: 0
	font-size: 1.4rem
	a
		margin: 0

// post styles

.post
	margin-top: 0

.post-title
	font-size: 3rem
	letter-spacing: 0
	@include header-underline()
	a:hover, a:focus, a:active
		text-decoration: none

.post-date-container
	display: block

.post-date
	background-color: $color-one
	left: -100px
	color: white
	padding: .5em
	display: inline-block
	@include breakpoint(md)

		position: absolute

.post-meta

.post-content
	h2, h3, h4
		font-size: 2.4rem
		padding-bottom: 5px
		@include header-underline()
	p
		margin: 1em 0

.author-name
	display: inline-block
	padding-bottom: 5px
	border-bottom: 1px solid darken(white, 20%)

.author-bio
	font-size: 1.6rem