.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "chaparral-pro";
  font-size: 2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans";
  font-weight: 900; }

h1 {
  font-size: 1.2rem; }

a {
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #249bff; }

.site-header {
  padding: 10px 20px;
  background: #ffc40d;
  color: #3d392c;
  box-shadow: 0 -10px 30px 0px rgba(0, 0, 0, 0.5); }
  @media only screen and (min-width: 768px) {
    .site-header {
      padding: 30px 60px; } }

.site-header {
  display: table;
  width: 100%; }

.site-header-content {
  display: table-cell;
  text-align: center; }

.blog-title {
  padding: 15px 20px;
  border: 8px solid #3d392c;
  font-size: 3.4rem;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .blog-title a {
    color: #3d392c; }
  .blog-title:hover {
    border: 8px solid #249bff; }
    .blog-title:hover a {
      text-decoration: none;
      color: #249bff; }

.blog-description {
  display: inline-block;
  font-family: "museo-sans";
  vertical-align: super;
  width: 280px;
  text-align: center; }

.site-header-nav {
  font-family: "museo-sans";
  font-weight: 900;
  font-size: 1.6rem;
  padding-left: 0;
  width: 310px;
  display: block;
  margin: 0 auto; }
  .site-header-nav li {
    float: left;
    list-style: none;
    margin-right: 20px;
    text-transform: uppercase; }
    .site-header-nav li:last-of-type {
      margin-right: 0; }
  @media only screen and (min-width: 992px) {
    .site-header-nav {
      margin-top: 35px;
      float: right;
      width: auto; } }
