.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "chaparral-pro";
  font-size: 2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans";
  font-weight: 500; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #3a4145; }

h1 {
  font-size: 1.2rem; }

a {
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline; }

code {
  font-size: 1.5rem;
  word-break: normal; }

pre {
  overflow-horizontal: scroll;
  word-wrap: normal;
  word-break: normal; }
  pre code {
    font-size: 1.5rem;
    line-height: 1.1;
    white-space: nowrap; }

pre[class*="language-"] {
  padding: 0.5em;
  padding-left: 1em;
  margin: 1.6em 0; }

.site-head {
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0; }

.blog-title {
  font-weight: 300;
  padding: 10px 15px;
  border: 3px solid white;
  display: inline-block;
  text-align: center; }
  .blog-title a {
    color: white; }
    .blog-title a:hover {
      text-decoration: none; }

.blog-description {
  font-family: "museo-sans"; }

.content {
  margin-top: 100vh;
  position: relative;
  z-index: 20;
  background-color: white; }

.grid-item {
  width: 100%; }
  .grid-item p {
    margin: 0; }
  .grid-item img {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .grid-item {
      display: inline-block;
      position: relative;
      float: left;
      width: 50%;
      overflow: hidden; }
      .grid-item .grid-item-height {
        margin-top: 55%; }
      .grid-item .grid-item-content {
        position: absolute;
        top: 0;
        left: 0; } }
  @media only screen and (min-width: 992px) {
    .grid-item {
      width: 25%; } }

.social-button {
  padding: 6px 14px;
  border: 0;
  color: white; }
  .social-button:hover, .social-button:focus, .social-button:active {
    color: white;
    text-decoration: none;
    cursor: pointer; }
  .social-button .fa-spinner {
    margin-left: 10px; }

.social-facebook {
  background-color: #3b5998;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .social-facebook:hover, .social-facebook:focus {
    background-color: #30487b; }
  .social-facebook:active {
    background-color: #263961; }

.social-pinterest {
  background-color: #cb2027;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .social-pinterest:hover, .social-pinterest:focus {
    background-color: #a81a20; }
  .social-pinterest:active {
    background-color: #89161a; }

.social-google-plus {
  background-color: #dd4b39;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .social-google-plus:hover, .social-google-plus:focus {
    background-color: #ca3523; }
  .social-google-plus:active {
    background-color: #ac2d1e; }

.social-linkedin {
  background-color: #007bb6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .social-linkedin:hover, .social-linkedin:focus {
    background-color: #005f8d; }
  .social-linkedin:active {
    background-color: #00476a; }

.social-twitter {
  background-color: #00aced;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .social-twitter:hover, .social-twitter:focus {
    background-color: #008ec4; }
  .social-twitter:active {
    background-color: #0074a1; }

.button-list {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0; }
  .button-list li {
    display: inline-block;
    margin-right: 10px; }

.social-count {
  margin-left: 10px; }

.social-button {
  display: inline-block;
  float: left;
  margin-left: 0;
  font-size: 1.4rem; }
  .social-button a {
    margin: 0; }
