html {
  font-size: 10px; }

body {
  font-family: "chaparral-pro";
  font-size: 2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans";
  font-weight: 900; }

h1 {
  font-size: 1.2rem; }

a {
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #249bff; }

.site-header {
  padding: 30px 60px;
  background: #ffc40d;
  color: #3d392c;
  box-shadow: 0 -10px 30px 0px rgba(0, 0, 0, 0.5); }

.blog-title {
  display: inline-block;
  padding: 15px 20px;
  border: 8px solid #3d392c;
  font-size: 3.4rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .blog-title a {
    color: #3d392c; }
  .blog-title:hover {
    border: 8px solid #249bff; }
    .blog-title:hover a {
      text-decoration: none;
      color: #249bff; }

.blog-description {
  display: inline-block;
  margin-left: 20px;
  font-family: "museo-sans";
  vertical-align: super; }

.site-header-nav {
  font-family: "museo-sans";
  font-weight: 900;
  font-size: 1.6rem;
  float: right;
  margin-top: 35px; }
  .site-header-nav li {
    float: left;
    list-style: none;
    margin-right: 20px;
    text-transform: uppercase; }
